Assignment-6 (Stage Inspection Report via Stored Procedure)/Stage Inspection Report via Stored Procedure.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_an_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST"
                }
            }
        },
        "actions": {
            "Get_secret": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault-3']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('J-SqlConnectionString')}/value"
                },
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": [
                            "inputs",
                            "outputs"
                        ]
                    }
                }
            },
            "Extract_Report_ID": {
                "runAfter": {
                    "Get_secret": [
                        "Succeeded"
                    ]
                },
                "type": "Compose",
                "inputs": "@xpath(xml(triggerBody()), '/*/Header/ReportID/text()')\r\n"
            },
            "Get_Raw_XML_Body": {
                "runAfter": {
                    "Extract_Report_ID": [
                        "Succeeded"
                    ]
                },
                "type": "Compose",
                "inputs": "@triggerBody()"
            },
            "Condition": {
                "actions": {
                    "Execute_stored_procedure_(V2)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['sql']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": {
                                "RawXML": "@{outputs('Get_Raw_XML_Body')}",
                                "ReportID": "@{outputs('Extract_Report_ID')}"
                            },
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[usp_StageInspectionReport]'))}"
                        }
                    },
                    "Response": {
                        "runAfter": {
                            "Execute_stored_procedure_(V2)": [
                                "Succeeded"
                            ]
                        },
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                            "statusCode": 202,
                            "body": {
                                "status": "Accepted",
                                "message": "XML report staged successfully by Stored Procedure.",
                                "report_id": "@{outputs('Extract_Report_ID')}"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Get_Raw_XML_Body": [
                        "Succeeded"
                    ]
                },
                "else": {
                    "actions": {
                        "Response_1": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 400,
                                "body": {
                                    "status": "Rejected",
                                    "error": "Missing_Key_Field",
                                    "message": "The incoming XML is missing the required ReportID field in the header."
                                }
                            }
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@empty(outputs('Extract_Report_ID'))",
                                false
                            ]
                        }
                    ]
                },
                "type": "If"
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "keyvault-3": {
                    "id": "/subscriptions/2efcc8a1-b14d-45a0-9b77-8cdf053cd14a/providers/Microsoft.Web/locations/eastus/managedApis/keyvault",
                    "connectionId": "/subscriptions/2efcc8a1-b14d-45a0-9b77-8cdf053cd14a/resourceGroups/khoj-rg-dev-training/providers/Microsoft.Web/connections/keyvault-4",
                    "connectionName": "keyvault-4",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "sql": {
                    "id": "/subscriptions/2efcc8a1-b14d-45a0-9b77-8cdf053cd14a/providers/Microsoft.Web/locations/eastus/managedApis/sql",
                    "connectionId": "/subscriptions/2efcc8a1-b14d-45a0-9b77-8cdf053cd14a/resourceGroups/khoj-rg-dev-training/providers/Microsoft.Web/connections/sql",
                    "connectionName": "sql"
                }
            }
        }
    }
}
